main
{
    margin-top: 5vh;
}

.error
{
    color: red;
    position: relative;
    left: 40%;
}

.connect
{
    position: relative;
    left: 40%;
}

.register
{
    position: relative;
    left: 40%;
}

.title
{
    text-align: center;
    font-size: 4vh;
}

.centrer
{
    text-align: center;
    position: relative;
    left: 5vh;
}

.centrermdp
{
    text-align: center;
    position: relative;
    left: 4.75vh;
}

hr
{
    border: none;
    border-top: 1px solid;
    color: black;
    overflow: visible;
    text-align: center;
    height: 5px;
    width: 75vh;
}