h1
{
    color: black;
    text-align: center;
    position: relative;
    top: 1vh;
}

.video
{
    position: relative;
    left: 20vh;
}

p
{
    color: #000000;
    text-align: center;
}

.titre
{
    text-align: center;
    color: black;
    text-decoration: underline;
}