body
{
    margin: 0 auto;
    background-color: #3590f3;
}

nav
{
    background-color: #8fb8ed;
    height: 4vh;
    position: relative;
    top: -17px;
}

nav ul
{
    text-align: center;
    list-style-type: none;
}

nav li
{
    display: inline-block;
    margin-left: 4vh;
}

nav a
{
    font-size: 3vh;
    text-decoration: none;
    color: black;
}

main
{
    margin: 0 auto;
    background-color: #62bfed;
    width: 50%;
    border-radius: 15px;
}

.connectButton
{
    position: absolute;
    right: 1vh;
    top: 1vh;
    font-size: 2vh;
}

.imageButton
{
    width: 2vh;
    height: 2vh;
    position: absolute;
    top: 0.25vh;
    right: 11vh;
}

.button
{
    text-decoration: none;
    color: black;
}